/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@200;300;400;500;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------------------------------*/

body {
	background-color: antiquewhite;
	font-family: 'Anek Devanagari', sans-serif;
}
#content {
	display: grid; 
	grid-template-areas: "nav nav"
						"menu main";
	grid-template-columns: auto 1fr;
	grid-template-rows:repeat(2,auto);
	align-items: center;
	position: relative;
	background-color:aquamarine;
}

/*--------------------------------- Nav ---------------------------------*/

nav {
	display: flex;
	align-items: center;
	grid-area: nav;
}
.nav-title{
	font-size: 2rem;
	font-weight: 600;
	padding: 1rem ;
	text-align: center;
	margin: 0 1rem;
}
nav .logo {
	width: 4rem;
	padding: 0.5rem;
	margin-left: 0.5rem;
}
nav .inputFilter {
	width: 40%;
	margin-left: 1rem;
}

/*--------------------------------- Todo section ---------------------------------*/

.todo-section {
	display:flex;
	flex-direction: column;
	align-items: flex-start;

	grid-area: main;
	background-color: white;
	height: 100vh;
}

/*--------------------------------- Tasks ---------------------------------*/

.tasks-container {
	display: flex;
	flex-direction: column;
}
.task {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	min-width: 600px;
}
.task[priority="low"] .taskInfo{
	background: linear-gradient(90deg, rgb(0, 195, 0) 1%, rgba(25,25,25,0) 3%);
}
.task[priority="medium"] .taskInfo{
	background: linear-gradient(90deg, rgb(213, 206, 0) 1%, rgba(25,25,25,0) 3%);
}
.task[priority="high"] .taskInfo{
	background: linear-gradient(90deg, rgb(195, 0, 0) 1%, rgba(25,25,25,0) 3%);
}
.task input:checked ~ p {
	text-decoration: line-through;
}
.task p {
	padding: 0.5rem;
}

.taskInfo {
	display: flex;
	align-items: center;
	border: 1px solid black;
	border-radius: 0.5rem;
	padding: 1rem;
}
.taskContent {
	
	overflow: hidden;
	background-color: rgb(203, 203, 203);
	max-height: 0;
	transition: max-height 0.3s ease-out;
}
.taskContent-active{
	display: block;
	max-height: 100px;
}
.taskContent-hide {
	display: none;
}
.task-hide {
	display: none;
}
.taskEdit{
	display: none;
	
}
.edit-active {
	display: flex;
	align-items: center;
}
.priorityField {
	display: flex;
	align-items: center;
}
/*--------------------------------- Task Form ---------------------------------*/
.taskForm{
	display: none;
	grid-area: menu;
}
.addProjectForm {
	display: none;
}
.active {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(157, 157, 157);
}

/*--------------------------------- Menu ---------------------------------*/
.todoMenu {
	grid-area: menu;
	height: 100%;
	width: 200px;
	background-color: rgb(150, 175, 240);
	padding:0 0.5rem;
}
.addProject {
	width: 4rem;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.3s;
}
.addProject:hover {
	border-bottom: 1px solid black;
}
.todoMenu li {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	padding: 0.5rem;
}

.todoMenu .project-button {
	margin-right: 1rem;
	text-decoration: underline 1px transparent;
	transition: text-decoration 0.3s;
}
.todoMenu .project-button:hover {
	text-decoration: underline 1px black;

}
.todoMenu button {
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	border: none;
	background: transparent;
	text-decoration: underline 1px transparent;
	transition: text-decoration 0.3s;
}
.todoMenu button:hover {
	text-decoration: underline 1px black;
}

